body{
	background-image: url("burj.jpg");
	background-repeat:no-repeat;
	background-size:cover;


}
h3{
	width:1000px;
	padding:0px;
	margin: ;
	text-transform: uppercase;
	color:#FFD369;
	font-size: 25px;
	text-decoration: underline;
}
h4{
	width:1000px;
	padding:0px;
	margin: ;
	text-transform: none;
	color:white;
	font-size: 20px;
	font-family:noir;
}
.box{
	width:1000px;
	text-align: center;
	padding:100px;
	margin: auto;
	text-transform: uppercase;
	color:white;
	
}
